
#container {
    margin: 4%;
    text-align: center;
    padding: 1%;
    font-size: 20px;

}

#header-img {
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 5px;
    width: 75px;
    height: 50px;

}

#title {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px 8px #5F9EA0;
}

.navbar-brand {
    font-family: "Times New Roman", Georgia, Serif;
    display: inline-block;

}

#map {
    height: 400px;
    width: 100%;
}


.btn-primary {
    margin-top: 1%;
    display: inline-block;
}

