
#container {
    margin: 4%;
    text-align: center;
    padding: 1%;
    font-size: 20px;

}

.header-img {
    margin-bottom: 4%;
    margin-top: 4%;
    padding: 5px;
    width: 75px;
    height: 50px;

}

#title {
    margin-left: 20px;
    font-size: 25px;
    color: black;
    text-shadow: 2px 2px 8px #5F9EA0;
}

.navbar-brand {
    font-family: "Times New Roman", Georgia, Serif;
    display: block;

}

#map {
    height: 400px;
    width: 100%;
}


h4{
    margin-bottom:-1%;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;

}

#notification {
    font-size: 20px;
    color: white;
    font-family: "Times New Roman", Georgia, Serif;
}
.date-container {
    display:inline-block;
    margin-right: 6%;
}


.time-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.boxStyling {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn-primary {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    color: white;
    border-radius: 4px;
    display: block;


}

body {
    background-color: black;
}

