.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.1);
}

img {
    padding: 5px;
    width: 75px;
    height: 50px;
}

#container {
    margin: 4%;
    padding: 1%;
    font-size: 20px;
}

.page-header {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

#below-map-container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+2,e1e1e1+2,f1f1f1+50,f6f6f6+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 2%, #e1e1e1 2%, #f1f1f1 50%, #f6f6f6 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 2%,#e1e1e1 2%,#f1f1f1 50%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 2%,#e1e1e1 2%,#f1f1f1 50%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */


}

#notification {
    margin-top: 2%;
    text-align: center;
    padding: 1%;
    color: white;
}

#user-form {
    margin-left: 15%;
    color: white;
}


.boxStyling {
    width: 100%;

    border-radius: 4px;
    box-sizing: border-box;

}


.btn-primary {
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 3px;
    display: block;

}

body {
    background-image: url("https://images.pexels.com/photos/1587/blurred-background.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat:no-repeat;
    background-size:cover;

}

em {
    color: #f16162;
}

.row {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#footer {
    text-align: center;

}